html {
  font-size: 10px;
  width: 100%;
  height: 100%;
  min-width: 1434px;
  min-height: 922px;
}
body {
  background: url("../img/www.freepik.com/background-blue-letters/background-letters.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/** generales */
h2 {
  font-size: 2rem;
  font-weight: 100;
}
p, label, input {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
button {
  font-size: 2rem;
  color: white;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  border: 0;
  margin: 0.6rem;
}
input {
  margin: 0.6rem;
}
audio {
  display: none;
}

/** Main containers **/
#container,
#container-left,
#container-right,
#container-left-info  {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-left {
  position: relative;
}
#container-left,
#container-right {
  width: 50%;
}
#container-left-info {
  position: absolute;
  flex-direction: column;
}
#container-left-info > h1 {
  font-size: 4.5rem;
  color: white;
  text-shadow: 0px 1px 1px black;
  z-index: 1;
}
#container-left-info > img {
  display: none;
  position: absolute;
  bottom: 0;
  width: 65rem;
}

/** Mixin con CSS para ordenar los items en circulo**/

///Mixin to put items on a circle
/// @param {Integer} $nb-items - Number or items
/// @param {Length} $circle-size - Container size
/// @param {Length} $item-size - Item size
/// @param {String | false} $class-for-IE - Base class name for old IE
@mixin distribute-on-circle(
  $nb-items,
  $circle-size,
  $item-size,
  $class-for-IE: false
) {
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);

  > * { /* style of every circle*/
    position: absolute;
    top:  50%;
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -$half-item;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#3663aff7, #005eff82);
    border-radius: 50%;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    border: 1px solid white;
  }

  $angle: (360 / $nb-items);
  $rot: -90; // place the first item to the top

  @for $i from 1 through $nb-items {
    @if not $class-for-IE {
      > :nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
      }
    } @else {
      > .#{$class-for-IE}#{$i} {
        // If CSS transforms are not supported
        $mt: sin($rot * pi() / 180) * $half-parent - $half-item;
        $ml: cos($rot * pi() / 180) * $half-parent - $half-item;
        margin: $mt 0 0 $ml;
      }
    }

    $rot: ($rot + $angle);
  }
}

.container-left-circle {
  @include distribute-on-circle(26, 60rem, 6rem, false);
  height: 100%;
  position: relative;
}

/** contadores de puntos y de tiempo **/

#container-left-counters {
  position: absolute;
  left: 4rem;
  bottom: 5rem;
  display: flex;
  height: 17.5rem;
  width: 11rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#timer,
#score {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: linear-gradient(#9e7748, #eaaf69);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
  border: 1px solid white;
}
#score {
  width: 6rem;
  height: 6rem;
}
#score,
#timer,
.circle {
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  text-shadow: 0px 1px 1px black;
}

/** Parte derecha **/

#container-right-rules,
#container-right-game,
#container-right-win,
#container-right-cancelGame,
#container-right-ranking {
  width: 80%;
  height: 80%;
  background: #8a4949;
  text-align: center;
  background-color: white;
  color: #464444;
}
#container-right-game {
  display: none;
  height: 20%;
  border: 1rem solid #fac35f;
  padding: 2rem;
  border-radius: 0px 120px 0px 120px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 0px 120px 0px 120px;
}
#container-right-rules > div {
  padding: 4rem;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.green {
  background: linear-gradient(#37963b, #5aec8c);
}
.red {
  background: linear-gradient(#B64139, #ff837a);
}
#container-right-game > div {
  width: 100%;
}

#container-right-game-questions,
#container-right-game-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
#container-right-game-questions {
  height: 60%;
}
#container-right-game-buttons {
  height: 40%;
}

/** botones */

#play-game-button,
.play-again-button,
#ranking-button {
  background-color: #eaaf69;
  padding: 1rem;
}
#submit-button {
  background-color: #eaaf69;
  width: 8rem;
}
#next-button {
  background-color: #64b364;
  width: 8rem;
}
#end-button {
  background-color: #ff0000a6;
  width: 8rem;
}

/** ganar-cancelar juego- ranking */

#container-right-win,
#container-right-cancelGame,
#container-right-ranking {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  display: none;
}
#winning-cup {
  width: 26rem;
}
#sad-emoji {
  width: 19rem;
}
.container-right-title > h1 {
  font-size: 4rem;
  color: #ff0000a6;
}

/** ranking */

#container-right-ranking > h1 {
  font-size: 4rem;
}
#ranking-table {
  font-size: 2rem;
  width: 50rem;
  height: 37rem;
}

/** atribución diseñadores */
#attribution {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  color: white;
}




/* smartphones, Android phones, landscape iPhone */
@media screen and (min-device-width:480px) {
  fhghtml {
    font-size: calc(10px + 6 * ((100vw - 480px) / 801));
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {

}

@media screen and (min-width:640px) {

}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {

}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

}

/* hi-res laptops and desktops */
@media screen and (min-width:1281px) {
  ssshtml {
    font-size: 16px;
  }
}