html {
  font-size: 10px;
  width: 100%;
  height: 100%; }

body {
  background: url("../img/152581-cool-blue-letters-background-0veuig/background-letters.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; }

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.left-side-container,
.right-side-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.title-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; }

.title-container > img {
  position: absolute;
  bottom: 0;
  width: 65rem; }

.title-container > h1 {
  font-size: 4.5rem;
  color: white;
  text-shadow: 0px 1px 1px black;
  z-index: 1; }

/**
Mixin to put items on a circle
**/
.circle-container {
  height: 100%;
  position: relative; }
  .circle-container > * {
    /* style of every circle*/
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6rem;
    height: 6rem;
    margin: -3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#3663aff7, #005eff82);
    border-radius: 50%;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    border: 1px solid white; }
  .circle-container > :nth-of-type(1) {
    transform: rotate(-90deg) translate(30rem) rotate(90deg); }
  .circle-container > :nth-of-type(2) {
    transform: rotate(-76.15385deg) translate(30rem) rotate(76.15385deg); }
  .circle-container > :nth-of-type(3) {
    transform: rotate(-62.30769deg) translate(30rem) rotate(62.30769deg); }
  .circle-container > :nth-of-type(4) {
    transform: rotate(-48.46154deg) translate(30rem) rotate(48.46154deg); }
  .circle-container > :nth-of-type(5) {
    transform: rotate(-34.61538deg) translate(30rem) rotate(34.61538deg); }
  .circle-container > :nth-of-type(6) {
    transform: rotate(-20.76923deg) translate(30rem) rotate(20.76923deg); }
  .circle-container > :nth-of-type(7) {
    transform: rotate(-6.92308deg) translate(30rem) rotate(6.92308deg); }
  .circle-container > :nth-of-type(8) {
    transform: rotate(6.92308deg) translate(30rem) rotate(-6.92308deg); }
  .circle-container > :nth-of-type(9) {
    transform: rotate(20.76923deg) translate(30rem) rotate(-20.76923deg); }
  .circle-container > :nth-of-type(10) {
    transform: rotate(34.61538deg) translate(30rem) rotate(-34.61538deg); }
  .circle-container > :nth-of-type(11) {
    transform: rotate(48.46154deg) translate(30rem) rotate(-48.46154deg); }
  .circle-container > :nth-of-type(12) {
    transform: rotate(62.30769deg) translate(30rem) rotate(-62.30769deg); }
  .circle-container > :nth-of-type(13) {
    transform: rotate(76.15385deg) translate(30rem) rotate(-76.15385deg); }
  .circle-container > :nth-of-type(14) {
    transform: rotate(90deg) translate(30rem) rotate(-90deg); }
  .circle-container > :nth-of-type(15) {
    transform: rotate(103.84615deg) translate(30rem) rotate(-103.84615deg); }
  .circle-container > :nth-of-type(16) {
    transform: rotate(117.69231deg) translate(30rem) rotate(-117.69231deg); }
  .circle-container > :nth-of-type(17) {
    transform: rotate(131.53846deg) translate(30rem) rotate(-131.53846deg); }
  .circle-container > :nth-of-type(18) {
    transform: rotate(145.38462deg) translate(30rem) rotate(-145.38462deg); }
  .circle-container > :nth-of-type(19) {
    transform: rotate(159.23077deg) translate(30rem) rotate(-159.23077deg); }
  .circle-container > :nth-of-type(20) {
    transform: rotate(173.07692deg) translate(30rem) rotate(-173.07692deg); }
  .circle-container > :nth-of-type(21) {
    transform: rotate(186.92308deg) translate(30rem) rotate(-186.92308deg); }
  .circle-container > :nth-of-type(22) {
    transform: rotate(200.76923deg) translate(30rem) rotate(-200.76923deg); }
  .circle-container > :nth-of-type(23) {
    transform: rotate(214.61538deg) translate(30rem) rotate(-214.61538deg); }
  .circle-container > :nth-of-type(24) {
    transform: rotate(228.46154deg) translate(30rem) rotate(-228.46154deg); }
  .circle-container > :nth-of-type(25) {
    transform: rotate(242.30769deg) translate(30rem) rotate(-242.30769deg); }
  .circle-container > :nth-of-type(26) {
    transform: rotate(256.15385deg) translate(30rem) rotate(-256.15385deg); }

.title-container > img {
  display: none; }

#info-game {
  bottom: 2rem;
  position: absolute;
  left: 5rem; }

#timer,
#score {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: linear-gradient(#9e7748, #eaaf69);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
  position: absolute;
  border: 1px solid white; }

#timer {
  bottom: 4rem;
  left: 4rem; }

#score {
  width: 6rem;
  height: 6rem;
  bottom: 15rem;
  left: 6rem; }

#score,
#timer,
.circle {
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  text-shadow: 0px 1px 1px black; }

.rules-container,
.game-container {
  width: 80%;
  height: 80%;
  background: #8a4949;
  text-align: center;
  background-color: white;
  color: #464444; }

.game-container {
  display: none;
  height: 20%;
  border: 1rem solid #fac35f;
  padding: 2rem;
  border-radius: 0px 120px 0px 120px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 0px 120px 0px 120px; }

#rules-text-container {
  padding: 4rem;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

p, label, input {
  font-size: 2rem;
  letter-spacing: 0.1rem; }

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem; }

#greeting-panel-container {
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center; }

#greeting-panel-container-box {
  height: fit-content;
  background-color: white;
  color: black; }

.green {
  background: linear-gradient(#37963b, #5aec8c); }

.red {
  background: linear-gradient(#B64139, #ff837a); }

#game-panel-container {
  height: 100%; }

#game-panel-container-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%; }

#game-panel-container-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%; }

button {
  font-size: 2rem;
  color: white;
  padding: 0.3rem 0.6rem;
  font-weight: bold;
  cursor: pointer;
  border: 0; }

button, input {
  margin: 0.6rem; }

#play-game,
.play-again {
  background-color: #eaaf69;
  padding: 1rem; }

#ok-button {
  background-color: #eaaf69;
  width: 8rem; }

#next-button {
  background-color: #64b364;
  width: 8rem; }

#end-button {
  background-color: red;
  width: 8rem; }

audio {
  display: none; }

.container-win,
.container-cancel-game {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  display: none; }

.container-win {
  background: url("../img/celebration-confetti-background-design-banner/background-win.jpg");
  background-size: cover; }

.container-cancel-game {
  background: url("../img/nettoyer-rayures-blanches-minimales-vector-background/13994.jpg");
  background-size: cover; }

.container-win-title > h1 {
  font-size: 4rem;
  color: red; }

h2 {
  font-size: 2rem; }

#attribution {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  color: white; }

#game-over-title > p {
  font-size: 10rem;
  padding: 3rem;
  border: 1rem solid white;
  outline: 2px solid #8080801f; }
