html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}
body {
  background: url("../img/152581-cool-blue-letters-background-0veuig/background-letters2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side-container,
.right-side-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.title-container > h1 {
  font-size: 4.5rem;
  color: white;
  text-shadow: 0px 1px 1px black;
}
/**
Mixin to put items on a circle
**/
/// @param {Integer} $nb-items - Number or items
/// @param {Length} $circle-size - Container size
/// @param {Length} $item-size - Item size
/// @param {String | false} $class-for-IE - Base class name for old IE
@mixin distribute-on-circle(
  $nb-items,
  $circle-size,
  $item-size,
  $class-for-IE: false
) {
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);

  > * { /* style of every circle*/
    position: absolute;
    top:  50%;
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -$half-item;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#1b50abf7, #005eff94);
    border-radius: 50%;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    text-shadow: 0px 1px 1px black;
  }

  $angle: (360 / $nb-items);
  $rot: -90; // place the first item to the top

  @for $i from 1 through $nb-items {
    @if not $class-for-IE {
      > :nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
      }
    } @else {
      > .#{$class-for-IE}#{$i} {
        // If CSS transforms are not supported
        $mt: sin($rot * pi() / 180) * $half-parent - $half-item;
        $ml: cos($rot * pi() / 180) * $half-parent - $half-item;
        margin: $mt 0 0 $ml;
      }
    }

    $rot: ($rot + $angle);
  }
}

.circle-container {
  @include distribute-on-circle(26, 60rem, 6rem, false);
  height: 100%;
  position: relative;
}

.rules-container,
.game-container {
  width: 80%;
  height: 80%;
  color: white;
  background: #d98828;
  border-radius: 2rem;
  text-align: center;
  border: 6px solid #ffd098e8;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  text-shadow: 0px 1px 1px white;
}
.game-container {
  height: 20%;
}

#rules-text-container {
  padding: 4rem;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
p, label, input {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
#greeting-panel-container {
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#greeting-panel-container-box {
  height: fit-content;
  background-color: white;
  color: black;
}
.game-container {
  display: none;
}
.green {
  background: linear-gradient(#37963b, #5aec8c);
}
.red {
  background: linear-gradient(#a0332b, #F44336);
}
#game-panel-container {
  height: 100%;
}

#game-panel-container-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}
#game-panel-container-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
}
button {
  background-color: #ffc800;
  border-radius: 2rem;
  font-size: 2rem;
  color: white;
  border: 0;
  padding: 0.3rem 0.6rem;
  font-weight: bold;
  cursor: pointer;
}
button, input {
  margin: 0.6rem;
}

#ok-button {
  background-color: #d0d000;
}
#next-button {

}
#end-button {
  background-color: red;
}





#attribution {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  color: white;
}

